body{

    background-color:#655bf861;
    
}
#form1{

    background-color: rgba(255, 255, 255, 0.627);
    margin-top: 100px;
    margin-left: 580px;
    box-shadow:  0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 520px;
    }

#name,#id,#password,#c_password,#email,#phonenumber,#blood{
    width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: dimgray;
    font-family: 'Times New Roman', Times, serif;
}
#regimage{
    position: absolute;
    top: 130px;     
    left: 605px; 
}
#button{

    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 90px;
    background-color: #1023f6d5;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 30px;
    
}
.error{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.success{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}