body{
    margin: 0;
    padding: 0;
    
}
#header{
    
    height:100px;
    width: 100%;
    background-color:#1d0be2e1;
    margin: 0 auto;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logo{
   
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 40px;
    top: 10px;
    left: 20px;
   
}
#register{
    position: absolute;
    right: 180px;
    top: 30px;
    padding: 10px 20px;
    background-color: #ffffff;
    border-color: blue;
    color: rgb(36, 10, 233);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#login{
    position: absolute;
    right: 80px;
    top: 30px;
    padding: 10px 20px;
    background-color: #ffffff;
    border-color: blue;
    color: rgb(36, 10, 233);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#facilities{
    position: absolute;
    left: 40px;
    top: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: bold;
}
#list{
    position: relative;
    top:2px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #1d0be2e1;
    height: 300px;
    width: 200px;
    border-radius: 8px;        
    background-color: #f4f4ff; 
}
#room_box{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 250PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 118px;

}

#room_box img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
#room_box1{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 800PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 118px;

}

#room_box1 img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info1{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
#room_box2{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 250PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 358px;

}

#room_box2 img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info2{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
#room_box3{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 800PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 358px;

}

#room_box3 img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info3{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
#room_box4{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 250PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 600px;

}

#room_box4 img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info4{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
#room_box5{
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
 left: 800PX;
      border: 2px solid #1d0be2e1;
       height: 200px;
    width: 500px;
       border-radius: 20px; 
        background-color: #f4f4ff;
          padding: 10px ;
top: 600px;

}

#room_box5 img{
     height: 200px;
    width: 320px;
       border-radius: 6px;
       object-fit: cover;
}


.room_info5{
    position:relative;
 bottom: 205px;
   left: 340px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
  font-weight: bold;


}
.book_btn{
    padding:8px 15px;
    background-color: rgb(32, 32, 246);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: none;
    border-radius: 8px;
    cursor:pointer;
   
}
.book_btn:hover{
    background-color: rgb(59, 75, 252);

}
footer{

    margin-top: 500px;
    padding: 10px 0;
    background-color: #030211e1;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}