body{
    font-family: 'Times New Roman', Times, serif;
    background-color:#655bf861;
}
.login-box{
    width: 350px;
    position: absolute;
    top: 100px;
    left: 550px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 40px;
    background: rgba(255, 255, 255, 0.627);
    border-radius: 10px;
}
#login_image{
    height: 80px;
    width: 80px;
    position: absolute;
    border-radius: 40px;
    top: 10px;
    left: 170px;
   
}#login_form{
    margin-top: 30px;
}
#name{
     width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: dimgray;
    font-family: 'Times New Roman', Times, serif;
}
#email{
     width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: dimgray;
    font-family: 'Times New Roman', Times, serif;
}
#password{
     width: 95%;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: dimgray;
    font-family: 'Times New Roman', Times, serif;
}
#login_button{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 115px;
    background-color: #1023f6d5;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    width: 120px;
    height: 30px;
    
}
#register_link{
    display: block;
    text-align: center;
    margin-top: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    color: #1023f6d5;
    text-decoration: none;
}
#home_logo{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.error{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}
.success{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
}