body{
    margin: 0;
    padding: 0;
    
}
.panel{

    
    border: 2px solid #2b2b2df4;
    border-radius: 2px;
    background-color: #7b7b7b;
    color:white;
    width: 250px;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
.sidebar{
    position: absolute;
    top: 82px;
    left: 0px;
    width: 253px;
    height: 100%;
    background-color: #535353;
    padding-top: 20px;
}
.links{
    display: block;
    color: white;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#dashboard{
    position: absolute;
    top: 20px;
    left: 0px;
    background-color:#a6a6a60f;
    color:white;
    height: 60px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#manageusers{
     position: absolute;
    top: 80px;
    left: 0px;
    background-color:#a6a6a60f;
    color:white;
    height: 60px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#assignstaff{
        position: absolute;
        top: 140px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#managebookings{
        position: absolute;
        top: 200px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        text-align-last: right;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#complaints{
        position: absolute;
        top: 260px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#notices{
        position: absolute;
        top: 320px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#Student-feedback{
        position: absolute;
        top: 380px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        text-align-last: right;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#logout{
        position: absolute;
        top:440px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
        cursor: pointer;
}
#navlist{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}
#dashboardlogo{
    position: absolute;
    left: 20px;
    top: 30px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#managestudentlogo{
    position: absolute;
    left: 15px;
    top: 90px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#stafflogo{
    position: absolute;
    left: 15px;
    top: 150px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#roombookinglogo{
    position: absolute;
    left: 15px;
    top: 210px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#complaintslogo{
    position: absolute;
    left: 15px;
    top: 270px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#noticeslogo{
    position: absolute;
    left: 15px;
    top: 330px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#studentfeedbacklogo{
    position: absolute;
    left: 15px;
    top: 390px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
#logoutlogo{
    position: absolute;
    left: 15px;
    top: 450px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}
body{
    background-color: #e0e0e0;
    margin:0;
    padding:0;
}
.content{
    position: absolute;
    top: 0;
    left: 253px;
    right: 0;
    height: 82px;
    line-height: 40px;
    border: 2px solid #c6c6c6f4;
    border-radius: 2px;
    background-color: #ffffff;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
   
}
#roomcounts{
    position: absolute;
    top: 100px;
    left: 270px;
    width: 250px;
    height: 70px;
    border: 2px solid #c6c6c6f4;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    border: #000;
    border-radius: 10px;
    
}
#infoofroom{
   position: absolute;
   bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px;
    
}
#roomnum{
    position: absolute;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}
#bedlogo{
    position: absolute;
    left: 170px;
    top: 10px;
    width: 100px;
    height: 100px;
}
#studentcounts{
    position: absolute;
    top: 100px;
    left: 580px;
    width: 250px;
    height: 70px;
    border: 2px solid #c6c6c6f4;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    border: #000;
    border-radius: 10px;
    
}
#infoofstudents{
   position: absolute;
   bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px;
    
}
#userslogo{
    position: absolute;
    left: 170px;
    top: 10px;
    width: 90px;
    height: 90px;
}
#pendingcomplaints{
    position: absolute;
    top: 100px;
    left: 890px;
    width: 250px;
    height: 70px;
    border: 2px solid #c6c6c6f4;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    border: #000;
    border-radius: 10px;
    
}
#infoofcomplaints{
   position: absolute;
   bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px;
    
}
#complaintlogo{
    position: absolute;
    left: 170px;
    top: 10px;
    width: 90px;
    height: 90px;
}
#revenue{
    position: absolute;
    top: 100px;
    left: 1200px;
    width: 250px;
    height: 70px;
    border: 2px solid #c6c6c6f4;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    border: #000;
    border-radius: 10px;
}
#infoofrevenue{
   position: absolute;
   bottom: 10px;
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px;
    
}
#revenuelogo{
    position: absolute;
    left: 170px;
    top: 10px;
    width: 90px;
    height: 90px;
}
#recentbookingtable{
    position: absolute;
    top: 280px;
    left: 270px;
    width: 1180px;
    height: 380px;
    border: 2px solid #c6c6c6f4;
    background-color: #f5f5f5;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    border: #000;
    border-radius: 10px;
    
}
#recentbookingsheading{
    position: absolute;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    margin-bottom: 10px;
    top: 0px;
    left: 10px;
}