body{
    margin: 0;
    padding: 0;
    
}
.panel{

    
    border: 2px solid #17267df4;
    border-radius: 2px;
    background-color: #7b7b7b;
    color:white;
    width: 250px;
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
.sidebar{
    position: absolute;
    top: 82px;
    left: 0px;
    width: 253px;
    height: 100%;
    background-color: #535353;
    padding-top: 20px;
}
.links{
    display: block;
    color: white;
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#dashboard{
    position: absolute;
    top: 20px;
    left: 0px;
    background-color:#a6a6a60f;
    color:white;
    height: 60px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}
#manageusers{
     position: absolute;
    top: 80px;
    left: 0px;
    background-color:#a6a6a60f;
    color:white;
    height: 60px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    padding-top: 5px;
    border-radius: 10px;
}
#assignstaff{
        position: absolute;
        top: 140px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#managebookings{
        position: absolute;
        top: 200px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#complaints{
        position: absolute;
        top: 260px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#notices{
        position: absolute;
        top: 320px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#Student-feedback{
        position: absolute;
        top: 380px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#logout{
        position: absolute;
        top:440px;
        left: 0px;
        background-color:#a6a6a60f;
        color:white;
        height: 60px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 24px;
        text-align: center;
        padding-top: 5px;
        border-radius: 10px;
}
#navlist{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}