#header{
    
    height:140px;
    width: 95%;
    background-color:#1d0be2e1;
    margin: 0 auto;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
}